.form-container {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-card {
    color: rgb(240, 240, 240);
    background-color: rgb(29, 29, 29);
    border-radius: 15px;
    margin: 10px;
    height: 60%;
    width: 65%;
}