.edit-modal-backdrop {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color:rgba(0,0,0,0.75);
}

.edit-form-card {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: var(--golden-1);
    background-color: var(--purple-3);
    border-radius: 15px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    width: 65%;
    min-width: 225px;
    border: 10px solid transparent;
    border-image: url('../border-item.png') 9 12 9 12 stretch;
}

.edit-form-card h2 {
    margin-bottom: 5px;
}

.edit-form-card-id {
    font-size: 18px;
    margin-bottom: 40px;
}

.edit-form-card input {
    font-family: inherit;
    font-size: 20px;
    background-color: var(--purple-3);
    color: var(--golden-1);
    padding: 3px;
    padding-top: 5px;
    margin-bottom: 10px;
    border: 5px solid var(--purple-1);
}

.edit-modal-button {
    background-color: var(--purple-3);
    color: var(--golden-1);
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.edit-modal-button:hover {
    color: white;
}

@media screen and (max-width: 725px) {
    .edit-modal-button {
        font-size: 17px;
    }
    .edit-form-card-id {
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    .edit-modal-button {
        font-size: 13px;
    }
    .edit-form-card {
            padding-left: 10px;
            padding-right: 10px;
    }
    .edit-form-card-id {
        font-size: 12px;
    }
}