.header-title {
    font-family: 'alagard';
    font-size: 8vw;
}

@media screen and (min-width: 725px) {
    .header-title {
        font-size: 58px;
    }
}


.headerContainer {
    color: #FFC774;
    background-color: #1A1A39;
    font-size: 20px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 7px  #7D5846;
}

.headerLeft {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.headerRight {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 725px) {
    .headerRight {
        display: none;
    }
}


.headerRight > * {
    margin-right: 10px;
}

.headerLeft > * {
    margin-left: 10px;
}

.hamburger-toggle {
    width: 160px;
    background-color: var(--purple-3);
    position: fixed;
    top: 10vh;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.hamburger-toggle-backdrop {
    position: fixed;
    right: 0;
    top: 10vh;
    z-index: 1;
    height: 100%;
    width: 100vw;
    background-color:rgba(0,0,0,0.75);
}

.ham-bar-1, .ham-bar-2, .ham-bar-3 {
    width: 35px;
    height: 5px;
    background-color: var(--golden-1);
    margin: 6px 0;
}

.header-hamburger {
    display: none;
}

@media screen and (max-width: 725px) {  
    .header-hamburger {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
        background-color: #1A1A39;
        color: #FFC774;        
    }

    .header-hamburger-button {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50px;
        height: 60px;
        background-color: #1A1A39;
        color: #FFC774;        
    }
}

@media screen and (max-width: 400px) {
    .header-hamburger button {
        width: 40px;
        height: 40px;
    }
}

.nes-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 4px;
    color: var(--golden-1);
    background-color: var(--purple-3);
    border-color: var(--purple-1);
    padding: 1.5rem 2rem .7rem 2rem;
    border-style: solid;
    border-width: 4px;
    border-image-slice: 3;
}

.nes-title {
    display: table;
    padding: 0 .5rem;
    margin: -1.8rem 0 1rem;
    font-size: 1rem;
    color: var(--golden-1);
    background-color: var(--purple-3);
}

.nes-container a {
    margin-bottom: 10px;
}

.nes-container a:active {
    color: white;
}

.nes-container::after {
    position: absolute;
    top: -7.2px;
    right: -7.2px;
    bottom: -7.2px;
    left: -7.2px;
    z-index: -1;
    content: "";
    background-color: var(--purple-3);
    box-sizing: border-box
}