.nes-container {
    position: relative;
    margin: 4px;
    color: #fff;
    background-color: #212529;
    border-color: #fff;
    padding: 1.5rem 2rem;
    border-style: solid;
    border-width: 4px;
    border-image-slice: 3;
}

.nes-title {
    display: table;
    padding: 0 .5rem;
    margin: -1.8rem 0 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #212529;
}


.nes-container::after {
    position: absolute;
    top: -7.2px;
    right: -7.2px;
    bottom: -7.2px;
    left: -7.2px;
    z-index: -1;
    content: "";
    background-color: #212529;
    box-sizing: border-box
}  

.nes-container-rounded {
    position: relative;
    border-color: #fff;
    border: 10px solid transparent;
    padding: 20px;
    border-image: url('../border1.png') 35% stretch;
}