
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-container {
  background-color: #464b55;
  background-image: url(./background3.png);
  background-repeat: repeat;
  min-height: 90vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #FFE493;
}

@media screen and (max-width: 725px) {
  .App-container {
    background-image: url(./background2.png);
  }
}

@media screen and (max-width: 400px) {
  .App-container {
    background-image: url(./background1.png);
  }
}

.App-link {
  color: #FFE493;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-family: inherit;
  outline: none;
}

:root {
  --purple-1: #545487;
  --purple-2: #42427F;
  --purple-3: #1A1A39;
  --golden-1: #FFC774;
}