.App-container {
  background-color: var(--purple-2);
  background-image: url(./background3.png);
  background-repeat: repeat;
  min-height: 90vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #FFE493;
}

@media screen and (max-width: 725px) {
  .App-container {
    background-image: url(./background2.png);
  }
}

@media screen and (max-width: 400px) {
  .App-container {
    background-image: url(./background1.png);
  }
}

button {
  font-family: inherit;
  outline: none;
}

:root {
  --purple-1: #545487;
  --purple-2: #42427F;
  --purple-3: #1A1A39;
  --golden-1: #FFC774;
  --errorbro: #c55454;

  --scrollbarBG: var(--purple-3);
  --thumbBG: var(--purple-1)
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  -webkit-overflow-scrolling: touch
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

html body {
  box-sizing: border-box;
}